 html{-webkit-text-size-adjust:none; }
 body{ color:#000000; font-family:Verdana, Arial, Helvetica, sans-serif;}
 * {}
a{outline:none; text-decoration:none !important;} a:hover{ text-decoration:underline;}
html{zoom:1;}html *{outline:0;zoom:1;} html button::-moz-focus-inner{border-color:transparent!important;} 
body{overflow-x: hidden; font-size:12px;} body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;} table{/*border-collapse:collapse;border-spacing:0;*/} fieldset,a img{border:0;} address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;} li{list-style:none;} caption,th{text-align:left;} h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} q:before,q:after{content:'';}
input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-appearance: none; } em,i{ font-style:normal;}


.borpd{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.toe{

	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; }.clearfix {display:block;}.clear{ clear:both;}
.colwrapper { overflow:hidden; zoom:1 /*for ie*/; margin:5px auto; }
.strong{ font-weight: bold;} .left{ float: left;} .right{ float: right;} .center{ margin:0 auto; text-align:center;}
.show{ display:block; visibility:visible;}.hide{ display: none; visibility:hidden;}
.block{ display:block;} .inline{ display:inline;}
.transparent{filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5; } .break{ word-wrap:break-word;overflow:hidden; /*word-break:break-all;*/}
.tal{ text-align:left} .tar{ text-align:right;}
.justify {
	text-align:justify;
	text-justify:distribute-all-lines;/*ie6-8*/
	text-align-last:justify;/* ie9*/
	-moz-text-align-last:justify;/*ff*/
	-webkit-text-align-last:justify;/*chrome 20+*/
}
.lsele{
	box-sizing: border-box;background-color: transparent;outline: 0;
	-webkit-appearance: none;
}
.wow{
  /* visibility: hidden; */
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */    color:    #c0c0c0; }

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */   color:    #c0c0c0; }

::-moz-placeholder { /* Mozilla Firefox 19+ */   color:    #c0c0c0; }

:-ms-input-placeholder { /* Internet Explorer 10-11 */   color:    #c0c0c0; }

.layui-layer-content{
  font-size: 26px !important;
  line-height: 2.2 !important;padding: 0 25px !important;
}
.layui-layer-dialog .layui-layer-padding{}

html, body {
   -webkit-user-select: none; 
    user-select: none;
}
table {
  border-collapse: collapse !important;
}

/* table, th, td {
  border: 1px solid black !important;
} */

 a,button,input,optgroup,select,textarea{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
/* mobile version:smooth scrolling  */
body{
     -webkit-overflow-scrolling:touch;
}

a{ color:initial; transition: all 0.3s ease-in-out 0s;}
/*a:hover{ color:#3e6ed4;}*/
textarea, 
body{font-family:P "Microsoft YaHei",sans-serif;}
/*input,textarea{-webkit-appearance: none;appearance: none;}*/
body{-webkit-tap-highlight-color: rgba(0,0,0,0);}

@font-face {
    font-family: 'aa';
    src: url('../fonts/SourceHanSansCN-Bold.otf');
}
@font-face {
    font-family: 'mm';
    src: url('../fonts/SourceHanSansCN-Regular.otf');
}

/* @font-face {
    font-family: 'NotoSerifCJKscSemiBold';
    src: url('../fonts/NotoSerifCJKsc-SemiBold.otf');
} */
@media only screen and (max-width:1400px) {
	
}





/*pad*/
img {
    max-width: 100%;
}
.gh{
    height: 20px;
    width: 28px;
    position: absolute;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
    -webkit-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
    -ms-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
    cursor: pointer;
    z-index: 9999;
    display: none;
}
.selected .gh {
    transform: rotate(90deg);
}
.gh a {
    background-color: #fff;
    display: block;margin: 0 auto;
    height: 2px;
    margin-top: -1px;
    position: relative;
    top: 50%;
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
    -webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
   width:100%;
    border-radius: 2px;
}
.gh a:after{
    width:100%;
}
.gh a:before{
    width:100%;
}
.gh a:after,
.gh a:before {
    background-color:#fff;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
    -webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
}
.gh a:after {
    top: 7px;
}
.gh a:before {
    top: -7px;
}
.selected .gh a:after,
.selected .gh a:before {
    top: 0;
}
.selected .gh a:before {
    transform: translateY(0px) rotate(-45deg);
    -webkit-transform: translateY(0px) rotate(-45deg);
    -ms-transform: translateY(0px) rotate(-45deg);
    background: #fff;width: 100%;
}
.selected .gh a:after {
    transform: translateY(0px) rotate(45deg);
    -webkit-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    background: #fff;width: 100%;
}
.selected .gh a {
    background-color: transparent !important;
}
.selected .header {
    overflow: visible;
}
.selected .header .nav {
    display: block;
    z-index: 111;
    position: absolute;
    left: 0;
    top: 80px;
    right: 0;
    margin: 0;
}
.selected .header .nav li a {
    text-align: center;
    width: auto;
    display: block;
    background: rgba(255, 255, 255, 0.9);
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 50px;
    padding: 0;
}
.selected .header .nav li a {
    color: #000000;
}
.selected .header .nav .selected a {
    border-bottom-color: #73e5b1;
}






